@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import './variables.scss';
/*
* Override default browser styles
*/
body{
  padding:0em;
  margin: 0em;
}
.App {
  font-family: Roboto;
  text-align: center;
  background-color: $app-background-color;
}
