$app-background-color: #262626;
$thumbnail-details-bg-color:#373f4c;
$thumbnail-proportion: 10em;
$thumbnail-image-height: $thumbnail-proportion;
$thumbnail-image-width: $thumbnail-proportion;
$thumbnail-arrow-highlight-color: white;