@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*
* Override default browser styles
*/
body{
  padding:0em;
  margin: 0em;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #262626;
}
