@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

/*
* Override default browser styles
*/
body{
  padding:0em;
  margin: 0em;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #BF7B3F;
}
